@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(../fonts/oxygen/oxygen-light.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Oxygen Regular'), local('Oxygen-Regular'), url(../fonts/oxygen/oxygen-regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Oxygen Bold'), local('Oxygen-Bold'), url(../fonts/oxygen/oxygen-bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


/*Font Awesome 4.7.0*/
@font-face{
  font-family:FontAwesome;
  src:url(../fonts/fontawesome-webfont.woff2?v=4.7.0) format('woff2');
  font-weight:400;font-style:normal
}

body {
  font-family: 'Oxygen', sans-serif;
      overflow-x: hidden;
}

li{
  list-style: none!important;
}

/* glide */

.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  overflow: hidden;
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1;
}

.glide__arrow:focus {
  outline: none;
}

.glide__arrow:hover {
  border-color: white;
}

.glide__arrow--left {
  left: 2em;
}

.glide__arrow--right {
  right: 2em;
}

.glide__arrow--disabled {
  opacity: 0.33;
}

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%);
}

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em;
}

.glide__bullet:focus {
  outline: none;
}

.glide__bullet:hover, .glide__bullet:focus {
  border: 2px solid white;
  background-color: rgba(255, 255, 255, 0.5);
}

.glide__bullet--active {
  background-color: white;
}

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/*base*/
.img-logo{
  max-height: 4rem;
  cursor: pointer;
}

.nomatec_share{
  display: block;
}

.anc-fnt{
  font-size: 1.6rem;
  margin-left: 1rem;
      top: 1.3rem;
  position: absolute;
}

.anc-m{
  font-size: 1.6rem;
  margin-left: 1rem;
      line-height: 3rem;
}

.share-btn{
  padding: 4px 6px!important;
  border-radius: 4px;
  margin-right: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  margin-top: .2rem;
}

.share-btn:hover{
  color: whitesmoke;
  text-decoration: none;
}

.share_facebook{
  background: #3b5998;
}

.share_youtube{
  background: red;
}

.share_linkedin{
  background: #0073b1;
}
.share_twitter{
  background: #00aced;
}

.share_rss{
  background: #ffc107;
}

.nomatec_sBlock{
  position: fixed;
  z-index: 9999;
  top: calc(50% - 75px);
}

.nomatec_sBlock.left{
  left: -35px;
  transition: left .5s;
}

.nomatec_sBlock.right{
  right: 0
}

.sBlock{
  text-align: center;
  height: 50px;
  width: 50px;
  font-size: 36px;
  color: white;
  box-shadow: 0 0 6px #000;
  margin: 2.5px 0;
  transition: margin-left .5s;
  cursor: pointer;
}


.fadeIn{
  -webkit-animation: fadein 1s;
  animation: fadein 1s;
}

.fadeOut{
  -webkit-animation: fadeout 1s;
  animation: fadeout 1s;
  visibility: collapse;
  transition: visibility 1s;
}

.nomatec_sBlock.left .sBlock:hover{
  margin-left: 35px;
}

.nomatec_sBlock.right .sBlock:hover{
  margin-right: 35px;
}

::-webkit-scrollbar {
  z-index: 30;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(80, 80, 80);
}
::-webkit-scrollbar-track {
  background-color: transparent;
}


.top-bar{
  display: none;
  background: black!important;
  height: 4rem;
  color: rgb(255 255 255 / 50%)!important;
}

.top-ico{
  margin-left: 1rem;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 50%;
  padding: .5rem;
  width: 2rem;
  height: 2rem;
  text-align: center;
}

#top-nav{
    box-shadow: 0 0 4px #000;
    width: 100%;
    background: rgb(0 0 0 / 85%)!important;
    z-index: 99999;
    height: 5rem;
}

.navbar-nav.nav-lnks{
  flex-direction: row!important;
}

.menu-link{
  font-size: 1.8rem;
  transition-duration: 0.5s;
  display: none;
  cursor: pointer;
      margin-top: .66rem;
}


.navbar-nav a{
  cursor: pointer;
  margin-right: 1rem;
}

.bg-trans{
  background: transparent!important;
}

.hidden{
  display: none!important
}

.cookie-warn{
  width: 100%;
  min-height: 1rem;
  position: fixed;
  background: rgba(31, 31, 31, 0.8);
  color: white;
  bottom: 0;
  left: 0;
  line-height: 2;
  text-align: center;
  z-index: 999999;
}

.cookie-accept{
  margin-left: 10px;
  cursor: pointer;
}

.cookie-accept:hover{
  text-decoration: underline;
}

.t-top{
  height: 50px;
  width: 50px;
  background: rgb(0 0 0);
    color: white;
    box-shadow: 0 0 6px black;
  font-size: 28px;
  position: fixed;
  bottom: 35px;
  right: 10px;
  cursor: pointer;
  border-radius: 50%;
  text-align: center;
  z-index: 999999!important;
}

.t-top:hover{
  box-shadow: 0 0 10px;
}
.cp{
  cursor: pointer;
}

.footer{
  box-shadow: 0 0 8px white;
  padding: 50px 15px 0px 15px;
  background: rgb(255 255 255 / 80%);
  position: relative;
}

.foot-copy{
  text-align: center;
  padding-top: 1rem;
}

.foot-lnk{
  font-size: .8rem;
  font-weight: bold;
  color: black;
}

.foot-lnk:hover{
  color:grey!important;
  text-decoration: none;
}

.w-90{
  width: 90%;
  margin-left: 5%;
}

.sh-9,.sh-95 {
  transition: 1s ease;
}

.sh-9:hover{
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: .5s ease;
}

.sh-95:hover{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  transition: .5s ease;
}

#search-text{
  width: 100%;
  text-align: right;
  color: red;
}

#search-btn{
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}

#copyright{

}

.sb-main {
  position: fixed;
  top: 0;
  height: 100%;
  width: 300px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 6px grey;
  z-index: 999;
}

.sb-main.sb-left{
  left: -300px;
  transition: left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sb-main.sb-right{
  right: -300px;
  transition: right 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sb-main.sb-right.sb-show {
  right: 0;
}

.sb-main.sb-left.sb-show {
  left: 0;
}

.sb-toggle {
  background: black;
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 24px;
  line-height: 2;
  top: 0;
  box-shadow: -2px 0px 4px grey;
  position: absolute;
  cursor: pointer;
}

.sb-toggle.sb-left{
  right: -50px;
}

.sb-toggle.sb-right{
  left: -50px;
}

.sb-icon {
    transition-duration: 0.5s;
}
.sb-icon:hover {
  -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.sb-body{

}

.sb-body .sb-head{
  height: 64px;
  padding: 10px 20px;
  line-height: 2;
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  border-bottom: 1px solid;
}

.sb-body .sb-link{
  font-size: 24px;
  font-weight: 300;
  padding: 10px 20px;
  border-bottom: 1px solid;
  cursor: pointer;
  text-transform: capitalize;
  transition: all .5s;
}

.sb-body .sb-link:hover{
  background: black;
  color: white;
  padding-left: 30px;

}


.lightbox-div{
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  text-align: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
}

.lightbox-div.hidden{
  display: none;
}

.lightbox-div div{
  height: 50%;
  top: 25%;
  position: relative;
}

.list-group-item{
  word-break: break-all;
}
.cattag-item{
  transition: padding-right .5s;
}

.cattag-item:hover{
  padding-right: 10px
}

.cat-item{
  border: 1px solid;
      color: #000000;
      padding: .1rem .5rem;
      border-radius: 4px;
      background: #9caeb9;
}

.soc-itm{
  background: #3a3a3a;
      box-shadow: 0 0 1rem #3a3a3a;
      font-size: 10rem;
      width: 15rem;
      height: 15rem;
      padding-top: 2.5rem;
      border-radius: 1rem;
      color: #02070d;
      cursor: pointer;
      margin-bottom: 3rem
}

.ofh{
  overflow: hidden;
}

#contact-form{

}

#contact-form iframe{
  width: 100%
}

.tinput{
  background: transparent;
  color: white
}


#main-content{
  min-height: 100vh;
}

.auth-name{
  font-family: 'Oxygen', sans-serif;
margin-left: .5rem;
}

@media (max-width: 992px){
  .navbar-nav.nav-lnks{
    display: none!important;
  }
  #side-content{
    position: fixed;
    right: -300px;
    width: 300px;
    height: 100%;
    background: white;
    box-shadow: 0 0 6px;
    top: 74px;
    overflow: scroll;
    padding: 20px 14px;
    transition: right 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #side-content.show{
    right: 0;
    z-index: 999;
    background: white;
  }
  #sidebar-main{
    margin-bottom: 80px;
  }
  #top-nav{
      position: fixed;
  }
  bread-crumb, welcome-msg{
    padding-top: 5rem;
  }
  .nav-alt{
    width: 100%;
    text-align: center;
  }
  .menu-link{
    display: block;
  }
}

@media (max-width: 720px){
  .foot-links{
    text-align: center!important;
  }
}

#sidebar-nav{
  position: fixed;
  left: -300px;
  width: 300px;
  height: 100%;
  background: white;
  box-shadow: 0 0 6px;
  top: 74px;
  overflow: scroll;
  padding-bottom: 120px;
  transition: left 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  z-index: 99999;
}

#sidebar-nav.show{
  left: 0;
  background: rgba(255, 255, 255, 0.7);
}
.sb_nav_head{
  border-bottom: 1px solid;
    display: inline-block;
    padding: 20px 10px;
    width: 100%;
}

.sb_nav_head span{
  font-size: 28px;
      margin-left: 10px;
      position: absolute;
      margin-top: 8px;
}

.sb_nav_lnk{
  font-size: 1.6rem;
    border-bottom: 1px solid;
    padding: 10px 18px;
    cursor: pointer;
    transition: all 0.6s;
}

.sb_nav_lnk:hover{
  padding-right: 10px;
    background: rgba(0, 0, 0, 0.60);
    color: white;
}

#rest-signup{
  background: transparent;
}

#rest-signup div.card-body{
  background: rgb(0 0 0 / 72%);
    margin: 0 7.5px 3rem 7.5px;
  padding: 2rem;
  border-radius: 6px;
}

.bnet{
  display: none;
}

#theme-mask{
  position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: white;
    z-index: 999999;
}

#theme-mask > span {
  width: 100%;
  position: absolute;
  text-align: center;
  bottom: 50px;
  color: grey!important;
}


@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


#menu_right {
    right: 0;
    height: 2.8rem;
    top: calc(50% - 1.4rem);
    padding: .5rem;
    position: fixed;
    box-shadow: 0 0 6px black;
    background: rgb(255 255 255 / 80%);
    transition: right 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 9999;
}

@media (max-width: 992px){
  #menu_right.show {
      right: 300px;
      z-index: 998;
  }
}

.container-fluid {
    padding-right: 25px;
    padding-left: 25px;
}


.breadcrumb-item{
      color: #a7a7a7;
}



.header-main{
  background: rgb(0 0 0 / 50%);
  position: relative;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.app-main{
/*  background: white;*/
position: relative;
padding-top: 3rem;
}

.h12{
    margin-bottom: 3rem;
}

.bgw{
  background: white!important;
  padding: 3rem 0;
}

.bgd{
  background: rgb(0 0 0 / 72%);
padding: 3rem 0;
}


.usrcrd{
  box-shadow: 0 0 6px white;
}

.light-sec{
  background: rgb(255 255 255 / 70%);
  color: black;
  padding: 2rem;
}

.dark-sec{
  background: rgb(0 0 0 / 72%);
  color: white;
  padding: 2rem;
}

#para {
  position: fixed;
  min-height: 100vh;
  min-width: 100%;
  max-width: none!important;
  right: 0;
  top: 0;
  filter: brightness(.5);
}


.navbar-light .navbar-brand, .navbar-light .navbar-nav .nav-link {
    color: rgb(255 255 255 / 50%)!important;
    transition-duration: .5s;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #eee!important;
    background: #111;
    border-radius: 4px;
}

.head-lbl{
  margin-top: 3rem;
  width: 100%;
  text-align: center;
}

.head-txt{
  color: white;
  font-size: 3rem;
  position: relative;
}

.mh-box{
  min-height: 20rem;
}

/*counter*/

.countr, .srvs, .blnk{
    background: rgb(255 255 255 / 80%);
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-bottom: 3rem;
}

.counter {
  background-color: #000000;
  padding: 20px 0;
  border-radius: 5px;
  color: #6e6e6e;
  margin-bottom: 1.5rem;
      box-shadow: 0 0 6px #000;
}

.count-title {
  background-color: #000;
      padding: 20px 0;
      border-radius: 5px;
      color: #6e6e6e;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #0094ff;
}


/*services*/

.al-services {
     min-height:100vh;
     background:white;
     font-family: 'Oxygen', sans-serif;
}
 .al-services-header h2 {
     color:#576975;
     font-size:34px;
}
 .al-services-header p {
     color:#82919a;
     font-size:20px;
     font-weight:300;
}


 .al-service-box {
     background:#000;
     border-radius:4px;
     margin-top:30px;
     box-shadow: 0 0 8px black;
}

 .al-service-box:hover .btn {
     background:#1b7ae8;
     color:#fff;
     transition:all .4s;
}
 .al-service-icon {
     background:rgba(248, 248, 255, 0.85);
     border-radius:100%;
     display:inline-block;
     padding:10px;
     width:90px;
     height:90px;
}
 .al-service-icon i {
     color:#1b7ae8;
     display:inline-block;
     font-size:62px;
}
 .al-service-box h3 {
     color:#576975;
     font-size:26px;
     font-weight:500;
}
 .al-service-box p {
     color: #9caeb9;
     font-size:18px;
     font-weight:300;
}
 .al-service-box .btn {
     border-color:#1b7ae8;
     color:#1b7ae8;
}
.al-service-box .btn:focus
{
    box-shadow:none;
}
 .al-service-box .btn:hover {
     background:#1b7ae8;
     color:#fff;
}


/* contact */
.map-local{
  text-align: center;
  margin: 3rem 0;
}
.map-img{
  width: 100%;
  opacity: .5;
  padding: 1rem;
  background: black;
}
